html
  head
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Dancing+Script')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto')
    // Latest compiled and minified CSS
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    // jQuery library
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    title The Global Redirect
    // Latest compiled JavaScript
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    script(src='https://www.webglearth.com/v2/api.js')
    link(href='https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css', rel='stylesheet')
    script(src='https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js')
    link(rel='stylesheet', href='/style.css')


    script.
      function initialize() {
        
        var animated = true;
        var dontAllowTimeElapse = false;
        
        performAnimation()
        var touchtime = 0;
        
        $(function() {
          $('#animToggle').bootstrapToggle();
        })
        
        $(function() {
          $('#animToggle').change(function() {
            
            if ($(this).prop('checked')) {
              animated = true;
              
              dontAllowTimeElapse = true;
              performAnimation()
            } else {
              animated = false;
              panTo()


            }
          })
        })
    
        $('#earth_div').on('click', function() {
          if(touchtime == 0) {
            touchtime = new Date().getTime();
          } else {
            if(((new Date().getTime()) - touchtime) < 200) {
              if (animated) {
                animated = false;
                $('#animToggle').prop('checked', false).change();
              } else {
                animated = true;
                $('#animToggle').prop('checked', true).change();
                dontAllowTimeElapse = true;
                performAnimation()
              }
              console.log(animated);
              //alert(animated);
              
              touchtime = 0;
            } else {
              touchtime = 0;
            }
          } 
        });
        
        var myData = !{JSON.stringify(data)};
        
        var titles = myData.titles;
        var cityNames = myData.locations;
        var links = myData.links;
        
        //console.log(links)
      
        var locations = [];
        var markers = [];
        //console.log(titles[2].length)
        
        outerLoop();
        
        
        function outerLoop() {
          var count1 = 0;
          
          cityNames.forEach(function(val1, i) {
            var count2 = 0;
            
            innerLoop(val1, count1, count2, i);
            count1++;
          })

        }
        
        function innerLoop(curVal, count1, count2, i) {
          curVal.forEach(function(val2, j) {
            var city = val2;
            var temp = [];
            
            if (isProperCity(city, titles[i][j], links[i][j])) {
              $.getJSON("https://maps.googleapis.com/maps/api/geocode/json?address="+encodeURIComponent(city), function(val) {
                //console.log(count1 + " " + count2)
                if (val.results.length) {
                  
                  //console.log(val.results)
                  var location = val.results[0].geometry.location;
                  //console.log(city + ": " + location.lat + " " + location.lng)
                  
                  var curTitle = titles[i][j]
                  var curLink = links[i][j];
                  var curLoc = val.results[0].formatted_address;
                  
                  setMarkers(location.lat + (Math.random() * (Math.round(Math.random()) * 2 - 1)), location.lng + (0.25 * (Math.round(Math.random()) * 2 - 1)), curTitle, curLink, curLoc);
                  count2++;

                } else {
                  //locations.push(null);
                }
              })
            }
          })
        }
  
        function setMarkers(lat, lng, ct, cl, cLoc) {
          WE.marker([lat, lng]).addTo(earth).bindPopup("<b>" + ct + "</b><br>" + cLoc +"<br /><span style='font-size:10px;color:#999'><a href=" + cl + " target='_blank'>View Full Article</a>"  + "</span>", {maxWidth: 300, closeButton: true}).closePopup();
        }

        function isProperCity(city, title, link) {
          if (city.trim() == '' || city.trim().includes("CNN") || title.trim() == '' || link.trim == '') {
            return false
          }
          return true;
        }
      
      
        var options = {atmosphere: true, center: [0, 0], zoom: 2};
        var earth = new WE.map('earth_div', options);
        
        WE.tileLayer('https://tileserver.maptiler.com/nasa/{z}/{x}/{y}.jpg', {
          minZoom: 0,
          maxZoom: 5,
          attribution: 'NASA'
        }).addTo(earth);
        
        //- function setMarkers() {
        //-   var len = markers.length;
        //-   for (var i = 0; i < len; i++) {
        //-     markers[i].bindPopup("<b>Hello world!</b><br>I am a popup.<br /><span style='font-size:10px;color:#999'>Tip: Another popup is hidden in Cairo..</span>", {maxWidth: 150, closeButton: true}).openPopup();
        //-   }
        //- }
        
        //console.log(markers.length)
        // Start a simple rotation animation
        var before = null;
        function performAnimation() {
          requestAnimationFrame(function animate(now) {
            if (animated) {
              var c = earth.getPosition();
              var elapsed = before? now - before: 0;
              if (dontAllowTimeElapse) {
                elapsed = 0;
              }

              before = now;
              earth.setCenter([c[0], c[1] + 0.1*(elapsed/30)]);
              dontAllowTimeElapse = false;
              requestAnimationFrame(animate);
              
            }
            
          });
        }
        
        function panTo() {
          earth.panTo([65, 17])
          zoomIn()
        }
        
        function zoomIn() {
          alert(earth.getSize())
        }
        
        
        
      }

  body(onload='initialize()')
    .container
      header
        .menu-toggle(data-js='menu-toggle')
          span.menu-toggle-grippy Toggle
          span.menu-toggle-label Menu
      section.banner(role='banner')
        #earth_div


      .hidden-panel
        span.hidden-panel-close(data-js='hidden-panel-close' style="font-size:10px;") Close
        .hidden-panel-content
          nav.hidden-panel-nav
            a(href='http://tinypic.com?ref=i5vzx1', target='_blank')
            img(src='http://i63.tinypic.com/i5vzx1.png', border='0', alt='Image and video hosting by TinyPic', style="padding-left:15px; padding-right:5px;")

          .hidden-panel-text
            h4(style="color:#009966; font-style: italic; font-weight:bold;")
              | Welcome to The Global Redirect! Explore what's happening around the globe by using the simplest, most elegant news interface ever created.
              br
              br
            p(style="color:#D2B48C; font-size:13px;")
              | Double-click the globe to pause the animation. Clicking on 'View Full Article' will open a new tab with the selected article in display.
            .row
              #animDesc.col-xs-3 Toggle Animation
              .col-xs-3
                input#animToggle(checked='', type='checkbox')
            input#myInput(type='text', onkeyup='searchList();', placeholder='Search for articles..')
            script.
              function searchList() {
                  // Declare variables
                  var input, filter, ul, li, a, i;
                  input = document.getElementById('myInput');
                  filter = input.value.toUpperCase();
                  ul = document.getElementById("newsList");
                  li = ul.getElementsByTagName('li');

                  // Loop through all list items, and hide those who don't match the search query
                  for (i = 0; i < li.length; i++) {
                      a = li[i].getElementsByTagName("a")[0];
                      if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                          li[i].style.display = "";
                      } else {
                          li[i].style.display = "none";
                      }
                  }
              }
            .titles-display
              ul#newsList(style="list-style: none; padding: 0;")
                - each v, i in data.titles
                  -each w, j in v
                    -if (w.trim().length > 0)
                      li
                        a(href=data.links[i][j] style="font-size:12px;" target='_blank')= w
                        p
                          | _____________________________________________
              
                  
                  
            //- -var cityNames = myData.locations;
            //- -var links = myData.links;
            //- -each i in titles
            //-   p
            //-     | i
            //- span
            //-   | Coded by 
            //-   a(href='http://twitter.com/darrenhuskie', title='Darren Huskie') Darren Huskie
            //-   | .
            //- span
            //-   | Powered by 
            //-   a(href='#', title='some framework') some framework
            //-   | .
            //- span
            //-   | Hosted by a 
            //-   a(href='#', title='web host') web host
            //-   | .
    script.
      var menuToggle = document.querySelector('[data-js="menu-toggle"]');
      // Clear the interval on any click
      //- document.body.addEventListener('click', function () {
      //- clearInterval(interval);
      //- });
      menuToggle.addEventListener('click', function () {
      document.body.classList.toggle('panel-open');
      menuToggle.classList.toggle('open');
      });
      var closePanel = document.querySelector('[data-js="hidden-panel-close"]');
      closePanel.addEventListener('click', function () {
      document.body.classList.remove('panel-open');
      menuToggle.classList.remove('open');
      });
    style.
      html {
        padding: 0;
        margin: 0;
        background-color: black;
      }

      body {
        padding: 0;
        background-color: black;
        font-family: Roboto, sans-serif;
        left: 0;
        line-height: 1.35;
        margin: 0;
        overflow: hidden;
        position: relative;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        transition: left 0.3s ease-in-out;
      }

      body.panel-open {
        left: -250px;
      }

      .container {
        min-height: 1000px;
      }

      header {
        color: #fff;
        padding: 3em 5%;
        position: relative;
        width: 110%;
        z-index: 2;
      }

      .menu-toggle {
        cursor: pointer;
        float: right;
        font-size: 0.875rem;
        transition: all 0.3s ease-in-out;
      }

      .menu-toggle.open {
        opacity: 0.5;
      }

      .menu-toggle-grippy {
        border-bottom: 5px solid #fff;
        border-top: 5px solid #fff;
        float: left;
        line-height: 0;
        margin-right: 1em;
        padding: 5px 0;
        text-indent: -999em;
        width: 35px;
      }

      .menu-toggle-grippy:after {
        background: #fff;
        content: "";
        display: block;
        height: 5px;
      }

      .menu-toggle-label {
        float: left;
        font-weight: 700;
        height: 25px;
        letter-spacing: 1px;
        line-height: 25px;
        text-transform: uppercase;
      }

      .hidden-panel {
        background: #333;
        color: #666;
        font-size: 0.875rem;
        height: 100%;
        position: absolute;
        right: -250px;
        top: 0;
        width: 250px;
      }

      .hidden-panel a {
        color: #999;
        transition: color 0.3s ease-out;
      }

      .hidden-panel a:hover {
        color: #fff;
      }

      .hidden-panel-close {
        color: #666;
        cursor: pointer;
        position: absolute;
        right: 20px;
        top: 3.7em;
        transition: color 0.3s ease-in-out;
      }

      .hidden-panel-close:hover {
        color: #fff;
      }

      .hidden-panel-content {
        padding: 3.65em 10%;
      }

      .hidden-panel-nav {
        border-bottom: 1px solid #666;
        border-bottom: 1px solid rgba(102, 102, 102, 0.25);
        margin-bottom: 1.5em;
        padding-bottom: 1.5em;
        text-transform: uppercase;
      }

      .hidden-panel-nav h3 {
        letter-spacing: 1px;
        margin-bottom: 1em;
      }

      .hidden-panel-nav ul {
        list-style: none;
        font-weight: 600;
        margin: 0;
        padding: 0;
      }

      .hidden-panel-nav li {
        padding: 0.25em 0;
      }

      .hidden-panel-text {
        line-height: 1.5;
      }

      .titles-display {
        // width: 1000px;
        overflow-y: scroll;
        position: relative;
        height: 260px;
      }

      .hidden-panel-text p {
        margin-bottom: 1.5em;
      }

      .hidden-panel-text p:last-child {
        margin-bottom: 0;
      }

      .hidden-panel-credits {
        font-size: 12px;
        font-size: 0.75rem;
        line-height: 1.5;
      }

      .hidden-panel-credits span {
        display: block;
        margin-bottom: 0.15em;
      }

      .banner {
        background: black;
        box-sizing: border-box;
        height: 100%;
        left: 0;
        padding-bottom: 200px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 100%;
        z-index: 1;
      }

      .banner h1 {
        color: #fff;
        font-family: "Dancing Script";
        font-size: 4.375rem;
        margin-bottom: 1em;
      }

      .banner h2 {
        color: #fff;
        font-size: 2rem;
        font-weight: 300;
        line-height: 1.5;
        margin: 0 auto;
        width: 50%;
      }

      .container:before, header:before, .menu-toggle:before, .container:after, header:after, .menu-toggle:after {
        content: "";
        display: table;
      }

      .container:after, header:after, .menu-toggle:after {
        clear: both;
      }

      #myInput {
        width: 200px;
        height: 10px font-size: 16px; 
        //- padding: 12px 20px 12px 40px;
        border: 1px solid #ddd;
        margin-bottom: 12px;
      }

      #animBox {
        margin-bottom: 10px
      }

      #animDesc {
        padding-top: 4px;
        padding-bottom: 4px;
        font-size: 8pt;
        color: white;
      }

      .row {
        padding-bottom: 10px;
      }
